/* Reset and Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Font Face */
@font-face {
  font-family: "Montserrat";
  src: url("/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
}

/* Canvas Styles */
canvas {
  width: 100%;
  height: 100%;
  display: block;
}

/* Scene Container Styles */
#scene-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0;
  transition: opacity 2s ease;
}

/* Loading Screen Styles */
#loading-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 2s ease;
  z-index: 1000;
}

#loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 1s ease-out;
}

#loading-progress {
  position: relative;
  width: 200px;
  height: 200px;
}

.progress-ring__circle {
  transition: 0.35s stroke-dashoffset;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

#progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  color: white;
  font-family: "Montserrat", sans-serif;
}

#loading-text {
  margin-top: 20px;
  font-size: 24px;
  color: white;
  font-family: "Montserrat", sans-serif;
}

/* Start Button Styles */
#loading-screen #start-button {
  position: relative;
  overflow: hidden;
  background-color: black;
  color: white;
  border: 2px solid transparent;
  padding: 10px 20px;
  font-size: 69px;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  transition: background-color 0.3s ease, opacity 1s ease-in;
  opacity: 0;
  margin-top: 20px;
  display: none;
}

#loading-screen #start-button span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#loading-screen #start-button::before,
#loading-screen #start-button::after,
#loading-screen #start-button span::before,
#loading-screen #start-button span::after {
  content: "";
  position: absolute;
  background-color: white;
  transition: transform 0.5s ease;
}

#loading-screen #start-button::before,
#loading-screen #start-button::after {
  left: 0;
  right: 0;
  height: 3px;
  transform: scaleX(0);
  transform-origin: left;
}

#loading-screen #start-button::before {
  top: 0;
}

#loading-screen #start-button::after {
  bottom: 0;
  transform-origin: right;
}

#loading-screen #start-button span::before,
#loading-screen #start-button span::after {
  top: 0;
  bottom: 0;
  width: 3px;
  transform: scaleY(0);
}

#loading-screen #start-button span::before {
  left: 0;
}

#loading-screen #start-button span::after {
  right: 0;
  transform-origin: bottom;
}

#loading-screen #start-button:hover::before,
#loading-screen #start-button:hover::after {
  transform: scaleX(1);
}

#loading-screen #start-button:hover span::before,
#loading-screen #start-button:hover span::after {
  transform: scaleY(1);
}

#loading-screen #start-button.visible {
  opacity: 1;
}

/* Control Panel Styles */
#control-panel {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  opacity: 0;
  transition: opacity 1s ease-in;
}

#controls-container {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#keyboard-controls-header {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  margin-bottom: 100px;
  text-align: center;
  opacity: 0;
  transition: background-color 0.3s ease, opacity 1s ease-in;
}

.control-button {
  position: relative;
  overflow: hidden;
  background-color: black;
  color: white;
  border: 0.25px solid white;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  transition: background-color 0.3s ease, opacity 1s ease-in;
  margin: 5px;
  cursor: default;
  opacity: 0;
}

.control-button span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Volume Toggle Styles */
#volume-toggle {
  position: absolute;
  bottom: 15px;
  right: 15px;
  padding: 5px 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Montserrat", sans-serif;
}

#volume-toggle:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* Utility Classes */
.hidden {
  opacity: 0;
  pointer-events: none;
}

/* Transition Styles */
#loading-progress,
#progress-text,
#loading-text {
  transition: opacity 1s ease-out;
}

/* Orientation Message Styles */
#orientation-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  z-index: 2000;
}

/* Media Query for Mobile Devices */
@media (max-width: 1024px) {
  #controls-container {
    display: none;
  }
}
