* {
  margin: 0;
  padding: 0;
}

#loading-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 2s ease;
  z-index: 1000;
}

#loading-screen #start-button {
  position: relative; /* Position relative so that pseudo-elements can be positioned absolutely within */
  overflow: hidden; /* Ensures pseudo-elements don't overflow */
  background-color: black;
  color: white;
  border: 2px solid transparent; /* Make border transparent initially */
  padding: 10px 20px;
  font-size: 69px;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  transition: background-color 0.3s ease;
}

#loading-screen #start-button span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Use the button's ::before and ::after for top and bottom borders */
#loading-screen #start-button::before,
#loading-screen #start-button::after,
#loading-screen #start-button span::before,
#loading-screen #start-button span::after {
  content: "";
  position: absolute;
  /* Initial gradient background */
  background-color: white;
  transition: transform 0.5s ease;
}

/* Define top and bottom border lengths and positions */
#loading-screen #start-button::before,
#loading-screen #start-button::after {
  left: 0;
  right: 0;
  height: 2px;
  transform: scaleX(0);
  transform-origin: left;
}

#loading-screen #start-button::before {
  top: 0;
}

#loading-screen #start-button::after {
  bottom: 0;
  transform-origin: right; /* Origin from right for bottom border */
}

/* Define left and right border lengths and positions */
#loading-screen #start-button span::before,
#loading-screen #start-button span::after {
  top: 0;
  bottom: 0;
  width: 3px;
  transform: scaleY(0);
}

#loading-screen #start-button span::before {
  left: 0;
}

#loading-screen #start-button span::after {
  right: 0;
  transform-origin: bottom; /* Origin from bottom for right border */
}

/* Hover effects */
#loading-screen #start-button:hover::before,
#loading-screen #start-button:hover::after {
  transform: scaleX(1);
}

#loading-screen #start-button:hover span::before,
#loading-screen #start-button:hover span::after {
  transform: scaleY(1);
}

.hidden {
  opacity: 0;
  pointer-events: none;
}
